PORT=3001
AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
PRIVATE_KEY=your_fresh_testnet_private_key_here
ENERGY_TOKEN_ADDRESS=0x7223Fb307bD4C48335329CF68098521a59D579Ac
ENERGY_TRADE_ADDRESS=0xE82A1Daad1c4564A4741502c33b4cE4322Da2dc0
